@media (max-width: 614px) {

    .container_cards {
        display: flex;
        /*flex-direction: column;
        flex-wrap: wrap;
        align-items: center;*/
        ;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 42.19px;
        max-width: 300px;
        
    }

   
}